[submodule "third_party/guacamol"]
	path = third_party/guacamol
	url = https://github.com/renzph/guacamol.git
[submodule "third_party/FCD"]
	path = third_party/FCD
	url = https://github.com/bioinf-jku/FCD
[submodule "third_party/ACP4"]
	path = third_party/ACP4
	url = https://github.com/UnixJunkie/ACP4.git
